---
layout: page
ref: index
title: Current
page_title: "JKON 2026"
lang: en
order: 1
hero_image: "images/index-hero.png"
---

<div class="section flex-wrap-container">
  <div class="flex-wrap-element">
    <p>
      Junge Kunst Olten (JKON) is a non-profit platform for emerging artists from across Switzerland. With an annual exhibition in the city of Olten, it supports artists between the ages of 18 and 35, actively contributing to the discourse on art and its role in society.
    </p>

    <p class="bold">
      For the 11th edition, we invite submissions for a curated group exhibition. Under the title <em>"Transit"</em>, the exhibition explores transitions and processes of change. In line with the theme, this year’s exhibition will take place in a temporary-use space.
    </p>

    <p>
      Transit describes the in-between: a suspended moment between movement and stillness, departure and arrival, between places, times, or inner and outer states. We are seeking artistic positions that engage with social, emotional, or physical transformations. The focus lies on the ephemeral and the non-binding, on passing through or lingering within transition.
    </p>

    <p class="bold">
      JKON 2026 will take place from 21st to 29th August 2026 at <a href="https://www.openstreetmap.org/directions?from=&to=47.350234%2C7.897475#map=19/47.350206/7.897003">Solothurnerstrasse 40 in Olten</a>.
    </p>

    {% if site.call_for_artists %}
      {% include call-for-artists/left-column.en.html %}
    {% elsif site.artists_selected %}
      {% include artists-selected/index.en.html %}
    {% endif %}
  </div>

  {% if site.call_for_artists %}
    {% include call-for-artists/right-column.en.html %}
  {% endif %}
</div>
