<p>
  Folgende Kunstschaffende werden an der JKON 2026 ausstellen:<br>
  <div class="randomize-names">
  Lisa Mark, Sophie Schüpbach, Tim Rod, Zeno Germinale, Sophia von Ballmoos, Lily Pellaud, Tatsuki Browne, Paula Beck, Janik Bürgin, Damien Risse, Stéphane Nabil Petitmermet, Elio Müller, Svenja Gansner, Yulia Parfenova, Nicolle Bussien, Lyna &amp; Alessandro
  </div>
</p>

<p>
  Öffnungszeiten und Programm:
</p>

<p>
  Die Vernissage findet am 21. August 2026, um 19h15 und die Finissage am 29. August 2026, um 17h15 statt.
</p>

<p>
  21. August 2026: Vernissage um 19h15<br>
  22. August 2026: 10h00 - 17h00<br>
  23. August 2026: 10h00 - 17h00<br>
  24. August 2026: geschlossen<br>
  25. August 2026: geschlossen<br>
  26. August 2026: 16h00 - 20h00<br>
  27. August 2026: 16h00 - 20h00, ab 19h15 Führung mit Kunstschaffenden<br>
  28. August 2026: 16h00 - 20h00<br>
  29. August 2026: 10h00 - 17h00 Finissage um 17h15<br>
</p>
