<p>
  The following artists will be exhibiting at JKON 2026:<br>
  <div class="randomize-names">
  Lisa Mark, Sophie Schüpbach, Tim Rod, Zeno Germinale, Sophia von Ballmoos, Lily Pellaud, Tatsuki Browne, Paula Beck, Janik Bürgin, Damien Risse, Stéphane Nabil Petitmermet, Elio Müller, Svenja Gansner, Yulia Parfenova, Nicolle Bussien, Lyna &amp; Alessandro
  </div>
</p>

<p>
  Opening Hours and Program:
</p>

<p>
  The opening reception will take place on 21 August 2026 at 7:15 PM, and the closing event on 29 August 2026 at 5:15 PM.
</p>

<p>
  21 August 2026: Opening reception at 7:15 PM<br>
  22 August 2026: 10:00 AM - 5:00 PM<br>
  23 August 2026: 10:00 AM - 5:00 PM<br>
  24 August 2026: Closed<br>
  25 August 2026: Closed<br>
  26 August 2026: 4:00 PM - 8:00 PM<br>
  27 August 2026: 4:00 PM - 8:00 PM; guided tour with participating artists from 7:15 PM<br>
  28 August 2026: 4:00 PM - 8:00 PM<br>
  29 August 2026: 10:00 AM - 5:00 PM; closing event at 5:15 PM<br>
</p>
